.idea
.vs


/frontend/frontend-app/node_modules
/frontend/frontend-app/private
/frontend/frontend-app/.env
/frontend/frontend-app/build


/backend/OlympiadApi/.env
/backend/OlympiadApi/appsettings.json
/backend/OlympiadApi.Tests/bin
/backend/OlympiadApi.Tests/obj
/backend/OlympiadApi.Tests/TestResults/*
/backend/OlympiadApi.Tests/coveragereport/*

/automatic_document_filling/filled_documents
/automatic_document_filling/.env


/python-scraper/.env
/python-scraper/files/
/python-scraper/src/__pycache__


/db/.env
/db/Sample.sql