/* Light Theme */
.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #f0f2f5;
  --button-background-color: #1890ff;
  --button-text-color: #ffffff;
  --header-background-color: #ffffff;
  --navigation-button-color: #ffffff;
  --cv-widgets: #73acee;
  --cv-text: #ffffff;
  --cv-devider: #2300ec;
  --cv-sub-text: #000000;
  --cv-bar: #173ad6;
}

/* Dark Theme */
.dark-theme {
  --background-color: #0a0d1d;
  --text-color: #ffffff;
  --card-background-color: #1f1e1e;
  --button-background-color: #4a90e2;
  --button-text-color: #ffffff;
  --header-background-color: #001529;
  --navigation-button-color: #ddddddce;
  --cv-widgets: #93addde3;
  --cv-text: #42b9fdfb;
  --cv-devider: #ffffff;
  --cv-sub-text: #8bb8f1;
  --cv-bar: #3f57c2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
}

.ant-layout {
  background-color: var(--background-color);
}

.ant-layout-header {
  background-color: var(--header-background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.ant-layout-content {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--card-background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  background-color: var(--header-background-color);
  transition: width 0.3s ease, margin-left 1.5s ease;
}

.header {
  transition: width 0.3s ease;
}

.layout-content {
  transition: margin-left 0.3s ease;
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-link {
  color: #61dafb;
}

.drawer .ant-drawer-body {
  padding: 0;
  padding-top: 40px;
  background-color: var(--header-background-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
