.document-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.form-container {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form-container h3 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
}

.form-group input:focus {
    border-color: var(--button-background-color);
    outline: none;
    box-shadow: 0 0 3px var(--button-background-color);
}

.grade-select .ant-select-selector {
    background-color: var(--background-color) !important;
    border-color: var(--text-color) !important;
    color: var(--text-color) !important;
}

.grade-select .ant-select-arrow {
    color: var(--text-color) !important;
}

.school-autocomplete-suggestion {
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cool-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--background-color);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    height: 60%;
}

.animated-canvas {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .document-container {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

    .cool-container {
        margin-left: 0;
    }
}