.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.banner-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 20px;
    text-align: center;
    width: 80%;
    color: var(--text-color);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 80%;
    margin-top: 20px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    min-width: 275px;
    text-align: center;
    background-color: var(--card-background-color);
    color: var(--text-color);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 10px;
    height: 350px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--text-color) !important;
}

.card-text {
    font-size: 16px;
    color: var(--cv-sub-text);
}

.card-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    color: var(--button-text-color);
    font-size: 16px;
    width: 175px;
}

.animated-word {
    display: inline-block;
    white-space: nowrap; 
}

.animated-o {
    display: inline-block;
    color: var(--text-color);
    white-space: nowrap;
    font-size: 1.2em;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
