.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.home-title {
    color: var(--text-color) !important;
    word-break: keep-all;
    text-align: center;
}

.paragraph {
    font-size: 20px;
    text-align: center;
    width: 80%;
    color: var(--text-color);
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 80%;
    margin-top: 20px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    min-width: 275px;
    text-align: center;
    background-color: var(--card-background-color);
    color: var(--text-color);
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: calc(1.2rem + 0.5vw) !important;
    font-weight: bold;
    text-align: center;
    color: var(--text-color) !important;
    padding: 20px 0;
}

.card-text-wrapper {
    height: 260px;
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    font-size: calc(1rem + 0.3vh);
    color: var(--cv-sub-text);
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    overflow: hidden;
    text-align: center;
}

.button {
    color: var(--button-text-color);
    font-size: 16px;
    width: 175px;
}