.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.login-form .ant-form-item {
    margin-top: 35px;
}

.login-form .ant-form-item-label > label {
    font-size: 16px;
}

.login-form .ant-input {
    background-color: var(--background-color) !important;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 8px;
}

.password-input {
    background-color: var(--background-color) !important;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 8px;
}

.password-input .ant-input {
    border: none !important;
}

.password-input .ant-input-prefix {
    color: var(--text-color);
    margin-right: 8px;
}

.recovery-section {
    text-align: center;
    margin-top: 20px;
}

.recovery-section button {
    font-size: 16px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
