.reset-password-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--card-background-color);
}

.reset-password-container h3 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.reset-password-form input {
    font-size: 16px;
}

.reset-password-form input::placeholder {
  color: var(--text-color);
  font-weight: 400;
  opacity: 0.6;
}

.ant-form-item-explain-error {
    margin-top: 10px;
    text-align: center;
}