.password-container {
  margin-bottom: 20px;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

.password-confirm {
  background-color: var(--background-color) !important;
  color: var(--text-color);
  border-radius: 4px;
  padding: 8px;
}

.password-confirm .ant-input {
    border: none !important;
}

.button {
  border: 1px solid white;
}

.reset-password-form button {
  padding: 10px;
  font-size: 16px;
}