.student-enrollment-container {
    padding: 24px;
    background-color: var(--card-background-color);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ant-table {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ant-table-thead > tr > th {
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
  }
  
  .ant-table-tbody > tr > td {
    text-align: center;
  }
  
  .ant-table-pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  .ant-pagination-item-link {
    margin-top: 0px;
    background-color: #0099ff !important;
    border-color: #0099ff;
    color: var(--text-color) !important;

  }

  .ant-pagination-item-link:hover {
    background-color: #076bae !important;
  }

  .ant-pagination-item-1 {
    background-color: #f0f2f5 !important;
    border-color: var(--button-background-color) !important;
  }
  .ant-pagination-item-2 {
    background-color: #f0f2f5 !important;
    border-color: var(--button-background-color) !important;
  }

  .ant-pagination-item-1 {
    background-color: #f0f2f5 !important;
  }
  .ant-pagination-item-2 {
    background-color: #f0f2f5 !important;
  }