.update-info-container {
    max-width: 600px;
    margin: 20px auto;
}

.update-info-title {
    text-align: center;
    color: var(--text-color) !important;
}

.ant-form-item-label {
    font-size: 16px;
    color: var(--text-color) !important;
}

.ant-form-item-label > label {
    color: var(--text-color) !important;
}

.ant-input {
    width: 100%;
    margin: 0px !important;
    border: 1px solid var(--text-color) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.ant-input:hover,
.ant-input:focus  {
    background-color: var(--background-color);
    border: 1px solid var(--button-background-color) !important;
}

.ant-btn-primary {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    font-size: 16px;
    padding: 20px;
}

.ant-btn-primary:hover {
    color: var(--button-background-color) !important;
    background-color: white !important;
}

.ant-btn-back {
    color: red;
    font-size: 16px;
    padding: 20px;
}

.ant-btn-back:hover {
    color: red !important;
}